@mixin lists {
  list-style: none;
}

.h2,
h2 {
  font-family: maven pro;
  font-weight: 700;
  font-size: 38px;
  padding: 10px 0 10px 0;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $microverse;
  text-align: center;
}

.p-a{
  position: absolute;
}

.r-s{
  font-size: 3vw;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-width: inherit;
}

.w-30{
  width: 30%;
}

.i{
  font-style: italic;
}

.w-45{
  width: 45%;
}

.w-40{
  width: 40%;
}

.w-50{
  width: 50%;
}

.w-90{
  width: 90%
}

.text-microthird{
  color:$microthird;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: lighten($dark, 40%);
}

.list {
  @include lists();
}

@mixin navbars {
  text-decoration: none;
  padding: 1vw;
}

.nav {
  @include navbars();
  align-items: baseline;
  padding: 2%;
}

@mixin paragraphs {
  font-size: 20px;
  line-height: 1.65;
  color: #fff;
  margin-right: 30px;
  margin-top: 15px;
  font-family: Montserrat;
}

.na-logo {
  font-family: maven pro;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-align: left;
}

.p {
  @include paragraphs();
}
.text-mic {
  color: $microverse;
}

.text-danger {
  color: $danger;
}

.text-white {
  color: $light;
}

.text-black {
  color: $dark;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $danger;
}

.text-secondary {
  color: $secondary;
}

.text-info {
  color: $info;
}

.text-microverse {
  color: $microverse;
}
.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

//backgrouunds
.bg-microverse {
  background-color: $microverse;
}

.bg-microsecond {
  background-color: $microsecond;
}

.bg-blue{
  background-color: $bd;
}

.bg-white {
  background-color: $light;
}

.bg-highlight {
  background-color: $warning;
  border-radius: 5px;
}

.bg-footer{
  background-color: $microfooter;
}

.m-auto {
  margin: auto;
}

.m-r{
  margin-left: 100%;
}

.mt-3{
  margin-top: 30px;
}

.m-top{
  margin-top: 270px;
}

.ml-50{
  margin-left: 50px;
}

.d-f {
  display: flex;
}

.navlist {
  @include navbars;
  display: inline;
}

.navblock{
  @include navbars;
  list-style: none;
}

.a-base {
  align-items: baseline;
}

.f-space {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.clip {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.f-c {
  display: flex;
  flex-direction: column;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.responsivo {
  width: 100%;
  height: auto;
}

.responsiva{
  max-width: 100%;
  max-height: 100%;
}

.f-left{
  align-items: flex-end;
} 

.f-right{
  align-items: flex-start;
}
.a-l{
  right: 3px;
}

.shadow{
  border: 1px solid white;
  padding: 10px;
  box-shadow: 0px 2px 10px 5px #888888;
  margin: 8px 0 8px 0;
}

.hoursa{
  padding: 10px;
  color: #fff;
  font-weight: bolder;
  border: none;
  padding: 8px 20px 8px 20px;
  border-radius:20%;
  margin: 5px auto 5px auto;
}

.mtb{
  margin: 8px 0 8px 0;
}

.tb{
  margin: 4px;
  border-radius: 5px;
}

.f-end{
  align-content: flex-end;
}

.f-start{
  align-content: flex-start;
}
.marg{
  margin: 10px;
}

.pad-100 {
  padding: 4% 0 4% 2%;
}

.pad{
  padding: 10px;
}

.pad-r{
  margin-left: 30px;
}

.pad-200{
  padding: 4%;
}

.pad-50{
  padding: 8% 8% 0 8%;
}

.pad-400{
  padding: 10% 5% 10% 5%;
}

.b-table{
  border: 1px solid gray;
  border-collapse: collapse;
}

.btn {
  background-color: $warning;
  font-size: 48px;
  border-radius: 5px;
  font-family: Domine;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  padding: 10px;
  border: none;
  margin-top: 80px;
}

.fw-w {
  flex-wrap: wrap;
}

table, td {
  border: 3px solid rgba(128, 128, 128, 0.712);
  border-collapse: collapse;
}

.a-center{
  margin-top: 30%;
}

.paralelo{
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.clip3{
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
}

th, td {
  padding: 1px;
  text-align: left;
}

.tab2{
  table, td {
    border:none;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 2px;
    text-align: left;
  }
  
}

.d-block{
  display: block;
}

.m-none{
  margin: none;
}

.back{
  z-index: -10;
}

.front{
  z-index: 100;
}

.hidden{
  overflow: hidden;
}

.radius{
  border-radius: 30%;
}
.p-b{
  padding: 0 0 100px 0;
}

.f-center{
  justify-content: center;
}

.hours{
  padding: 8px 15px;
  border: none;
  border-radius: 25px;
  margin-left: 10%;
  display: inline;
}

.hours1{
  @extend .hours ;
  margin-left: 40%;
  padding: 5px 20px;
}

.p-t{
padding-bottom:10px;
}
.d-inline{
  display: inline;
}

.border-b {
  border-bottom: 1px solid grey;
}