@mixin lists {
  list-style: none;
}

.h2,
h2 {
  font-family: maven pro;
  font-weight: 700;
  font-size: 38px;
  padding: 10px 0 10px 0;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $microverse;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-width: inherit;
}

.w-30{
  width: 30%;
}

.text-microthird{
  color:$microthird;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: lighten($dark, 40%);
}

.list {
  @include lists();
}

@mixin navbars {
  text-decoration: none;
  padding: 1vw;
}

.nav {
  @include navbars();
  align-items: baseline;
  padding: 2%;
}

@mixin paragraphs {
  font-size: 20px;
  line-height: 1.65;
  color: #fff;
  margin-right: 30px;
  margin-top: 15px;
  font-family: Montserrat;
}

.na-logo {
  font-family: maven pro;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-align: left;
}

.p {
  @include paragraphs();
}
.text-mic {
  color: $microverse;
}

.text-danger {
  color: $danger;
}

.text-white {
  color: $light;
}

.text-black {
  color: $dark;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $danger;
}

.text-secondary {
  color: $secondary;
}

.text-info {
  color: $info;
}

.text-microverse {
  color: $microverse;
}
.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

//backgrouunds
.bg-microverse {
  background-color: $microverse;
}

.bg-microsecond {
  background-color: $microsecond;
}

.bg-white {
  background-color: $light;
}

.bg-highlight {
  background-color: $warning;
  border-radius: 5px;
}

.m-auto {
  margin: auto;
}

.d-f {
  display: flex;
}

.navlist {
  @include navbars;
  display: inline;
}

.a-base {
  align-items: baseline;
}

.f-space {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.clip {
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
}

.f-c {
  display: flex;
  flex-direction: column;
}

.responsive {
  width: 100%;
  height: auto;
}

.pad-100 {
  padding: 4% 0 4% 2%;
}

.pad{
  padding: 10px;
}

.b-table{
  border: 1px solid gray;
  border-collapse: collapse;
}

.btn {
  background-color: $warning;
  font-size: 48px;
  border-radius: 5px;
  font-family: Domine;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  padding: 10px;
  border: none;
  margin-top: 80px;
}

.fw-w {
  flex-wrap: wrap;
}

table, td {
  border: 3px solid rgba(128, 128, 128, 0.712);
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}