$danger: red;
$light: white;
$primary: blue;
$secondary: grey;
$tertiary: purple;
$dark: black;
$success: green;
$info: #17a2b8;
$warning: #ffc107;
$tbaby: pink;
$microverse: #6f23ff;
$microsecond: #41d3bd;
$microthird: #2a0a66;
$microfooter: #3e396b
