$danger: red;
$light: white;
$primary: blue;
$secondary: grey;
$tertiary: purple;
$dark: #fff;
$success: green;
$info: #17a2b8;
$bd: rgb(243, 243, 243);
$warning: #ffc107;
$tbaby: pink;
$microverse: #6f23ff;
$microsecond: #41d3bd;
$microthird: #2a0a66;
$microfooter: #3e396b;
$button1: #a06eff;
$button23: rgba(65, 211, 189, 0.25);
$button4: tan;
