$xsm: 576px; //max-width
$sm: 768px;  //max-width
$md: 992px; // max-width
$lg: 1200px; // max-width

@mixin display($sreen, $valu) {
  @media screen and (max-width: $sreen) {
    display: $valu;
  }
}

@mixin dis2($screen, $val) {
  @media screen and (min-width: $screen) {
    display: $val;
  }
}

@mixin width($cren, $r-width) {
  @media screen and (max-width: $cren) {
    width: $r-width;
  }
}
