.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-width: inherit;
}

@mixin sm($s1, $s2) {
  @media screen and (max-width: 720px) {
    grid-column-start: $s1;
    grid-column-end: $s2;
  }
}

@mixin md ($m1, $m2) {
  @media screen and (max-width: 1024px) {
    grid-column-start: $m1;
    grid-column-end: $m2;
  }
}

@mixin lg($l1,$l2) {
  @media screen and (min-width: 1024px) {
    grid-column-start: $l1;
    grid-column-end: $l2;
  }
}
