
@import './colors';
@import './mixins';
@import './grid';
@import './classes';

//resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// headers
.h1,h1 {
  @include headers(48px);
}

.h2,h2 {
  @include headers(45px);
}
.h3,h3{
  @include headers(20px);
}
.h4,h4 {
  @include headers(18px);
}
.h5,h5 {
  @include headers(16px);
}
.h5,h5 {
  @include headers (14px);
}

p,
span {
  @include paragraphs;
}

//font-weights

.font-normal{
  font-weight: weights(normal);
}

.font-bold{
  font-weight: weights(bold);
}

.font-bolder{
  font-weight: weights(bolder);
}

//borders
.border {
  border: $border;
}

.border-right {
  border-right: $border;
}

.border-left {
  border-left: $border;
}

.border-top {
  border-top: $border;
}

.border-bottom {
  border-bottom: $border;
}

.sec1{
  @include images('../images/group-20.png');
  background-position: 125% -5%;
  background-color: $microverse;
}
 .list{
   @include display($md,none)
 }

 .togler{
   @include display($lg,none);
   @include display($md,block);
 }



