.h2, h2 {
  font-family: maven pro;
  font-weight: 700;
  font-size: 38px;
  padding: 10px 0 10px 0;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6f23ff;
  text-align: center;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  min-width: inherit;
}

.col-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.col-6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #666666;
}

.list {
  list-style: none;
}

.nav {
  text-decoration: none;
  padding: 1vw;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 2%;
}

.na-logo {
  font-family: maven pro;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  text-align: left;
}

.p {
  font-size: 20px;
  line-height: 1.65;
  color: #fff;
  margin-right: 30px;
  margin-top: 15px;
  font-family: Montserrat;
}

.text-mic {
  color: #6f23ff;
}

.text-danger {
  color: red;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-primary {
  color: blue;
}

.text-secondary {
  color: red;
}

.text-secondary {
  color: grey;
}

.text-info {
  color: #17a2b8;
}

.text-microverse {
  color: #6f23ff;
}

.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

.bg-microverse {
  background-color: #6f23ff;
}

.bg-microsecond {
  background-color: #41d3bd;
}

.bg-white {
  background-color: white;
}

.bg-highlight {
  background-color: #ffc107;
  border-radius: 5px;
}

.m-auto {
  margin: auto;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w {
  width: 100%;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlist {
  text-decoration: none;
  padding: 1vw;
  display: inline;
}

.a-base {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.f-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-none {
  display: none;
}

.clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
}

.f-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.responsive {
  width: 100%;
  height: auto;
}

.pad-100 {
  padding: 4% 0 4% 2%;
}

.btn {
  background-color: #ffc107;
  font-size: 48px;
  border-radius: 5px;
  font-family: Domine;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  padding: 10px;
  border: none;
  margin-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.h1, h1 {
  font-size: 48px;
  font-family: Domine;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

.h3, h3 {
  font-size: 20px;
  font-family: Domine;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

.h4, h4 {
  font-size: 18px;
  font-family: Domine;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

.h5, h5 {
  font-size: 16px;
  font-family: Domine;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

.h5, h5 {
  font-size: 14px;
  font-family: Domine;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

p,
span {
  font-size: 20px;
  line-height: 1.65;
  color: #fff;
  margin-right: 30px;
  margin-top: 15px;
  font-family: Montserrat;
}

.font-normal {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-bolder {
  font-weight: 900;
}

.border {
  border: 1px solid grey;
}

.border-right {
  border-right: 1px solid grey;
}

.border-left {
  border-left: 1px solid grey;
}

.border-top {
  border-top: 1px solid grey;
}

.border-bottom {
  border-bottom: 1px solid grey;
}

.sec1 {
  background: url("../images/group-20.png") no-repeat;
  background-position: 135% -5%;
  background-color: #6f23ff;
}

@media screen and (max-width: 992px) {
  .list {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .togler {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .togler {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .text1 {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .apply {
    width: 100%;
  }
}

.h1str {
  background: url("../images/stroke1.JPG") no-repeat;
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */