@import "./colors";
@import "./mixins";
@import "./grid";
@import "./classes";

//resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: brown;
}
// headers
.h1,
h1 {
  @include headers(48px);
}

.h3,
h3 {
  @include headers(20px);
}
.h4,
h4 {
  @include headers(18px);
}
.h5,
h5 {
  @include headers(16px);
}
.h5,
h5 {
  @include headers(14px);
}

p,
span {
  @include paragraphs;
}

//font-weights

.font-normal {
  font-weight: weights(normal);
}

.font-bold {
  font-weight: weights(bold);
}

.font-bolder {
  font-weight: weights(bolder);
}

.sec1 {
  @include images("../images/group-20.png");
  background-position: 135% -5%;
  background-color: $microverse;
}
.list {
  @include display($md, none);
}

.togler {
  @include dis2($md, none);
  @include display($md, block);
}

.text1 {
  @include width($lg, 80%);
}

.apply {
  @include width($sm, 100%);
}
.h1str {
  @include images("../images/stroke1.JPG");
  background-size: cover;
  background-position: center;
}

@for $i from 1 through 12 {
  $width: percentage($i / 12);
  .col-#{$i} {
    width: $width;
    }
  }

@media screen and (min-width: $lg) { 
  @for $i from 1 through 12 {
    $width: percentage($i / 12);
    .col-#{$i}-xl {
      width: $width;
      }
    }
  }

@media screen and (max-width: $lg) { 
  @for $i from 1 through 12 {
    $width: percentage($i / 12);
    .col-#{$i}-lg {
      width: $width;
      }
    }
  }

@media screen and (max-width: $md) { 
@for $j from 1 through 12 {
  $width: percentage($j / 12);
  .col-#{$j}-md {
    width: $width;
    }
  }
}

@media screen and (max-width: $sm) { 
  @for $j from 1 through 12 {
    $width: percentage($j / 12);
    .col-#{$j}-sm {
      width: $width;
      }
    }
  }


